*{
    margin: 0px;
    box-sizing: content-box;
}
.navbar{
    background-color: hsla(12, 66%, 63%, 0.937);
    height: 10vh;
   font-style: bold;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
.nav-items{
 list-style-type: none;
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 align-items: center;
 padding-top: 3vh;
}
.menu-bar{
    width: 40px;
    height: 40px;
   
}
.body{
    display: flex;
    flex-direction: row;
    height: 90vh;
}
.content{
    background-image: linear-gradient(to right, hsl(64, 100%, 81%),pink);
    display:flex;
    flex-direction:column ;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    width: 50%;
}
.burger-image{
   
    height: 90vh;
    width: 50wh;
    background-size:cover;
}
.heading{
    padding-bottom: 45px;
    font-size: 58px;
}
.paragraph{
    padding-bottom: 20px;
}
.button{
   background-color: pink;
   color: white;
   border: 0px;
   width: 65px;
   padding: 10px;
}